body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

table,
th,
td {
  border: 1px solid black;
}

h1,
h2,
h3,
p {
  text-align: center;
}

li {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.main-detection {
  grid-column: 1 / span 3;
}

.license-plate-detection {
  grid-column: 1 / 2;
}

.license-plate-dashboard {
  grid-column: 2 / 4;
}

.admin-control-panel {
  grid-column: 4 / 5;
  grid-row: 1 / span 2;
  align-content: space-between;
}

.green {
  color: green;
}

.red {
  color: red;
}
